@inherits LayoutComponentBase

<div class="page ">
    <div class="bg-primario h-100 vh-100 p-3 d-flex flex-column justify-content-between w-auto">
        <NavMenu />
    </div>

    <div  class="w-100 overflow-auto">
        @Body
    </div>
</div>


