@page "/persona/editar/{personaid:int}"
@inject IHTTPServicio http
@inject NavigationManager navigationManager

<div class="p-4">
    <div class="container col-md-6">
        <div class="shadow p-4 bg-white">
            <FormPersonas pers="persona" onValidSubbmit="Grabar" onCancel="Cancelar" />
        </div>
    </div>
</div>

@code {
    private Persona persona = new Persona();
    [Parameter] public int personaid { get; set; }
    string Mensaje = "";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Mostrar();
    }

    private async Task Mostrar()
    {
        var respuesta = await http.Get<Persona>($"api/Persona/{personaid}");

        if (!respuesta.Error)
        {
            persona = respuesta.Respuesta;
        }
        else
        {
            Mensaje = await respuesta.ObtenerError();
        }
    }

    private async Task Grabar()
    {
        var respuesta = await http.Put<Persona>($"api/Persona/{personaid}", persona);
        if (respuesta.Error)
        {
            var body = respuesta.HttpResponseMessage;
        }

        navigationManager.NavigateTo("/");
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/personas");
    }
}
